@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: linear 0.2s fade;


}
#wrapper {

}

#slider {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.slider-btn {
    background-color: #fff;
    width: 70px;
    border: 1px solid gray;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 15px;
}
.slider-btn:hover {
    background-color: gray;
}
.slider__list-item {
    display: none;
    border: 1px solid gray;
}
.active {
    animation: linear 0.2s fade;
    display: flex;
}
